.history-list {
  li button {
    width: 100%;
    text-align: left;
    color: inherit;
    border-radius: 0;
    &:hover {
      background-color: #868e96;
      color: #FFF;
      text-decoration: none;
    }
  }
}
