<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <span class="navbar-brand">{{title}}</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline ml-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" [(ngModel)]="searchquery" [ngModelOptions]="{standalone: true}">
      <button class="btn btn-success my-2 my-sm-0" type="button" (click)="searchcall()">Buscar</button>
    </form>
  </div>
</nav>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h2 class="mt-1">Resultado de busta por
        <em>'{{searchquery}}'</em>
      </h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card border-secondary">
        <div class="card-header">
          Histórico
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="https://twitter.com/hashtag/BagulhosSinistros" target="_blanc">#BagulhosSinistros</a>
          </li>
          <li class="list-group-item">
            <a href="https://twitter.com/hashtag/WolvesTODAY" target="_blanc">#WolvesTODAY</a>
          </li>
          <li class="list-group-item">
            <a href="https://twitter.com/hashtag/ToPrecisandoDe" target="_blanc">#ToPrecisandoDe</a>
          </li>
          <li class="list-group-item">
            <a href="https://twitter.com/hashtag/QuartaDetremuraSDV" target="_blanc">#QuartaDetremuraSDV</a>
          </li>
          <li class="list-group-item">
            <a href="https://twitter.com/hashtag/HappyYutaDay" target="_blanc">#HappyYutaDay</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="border border-secondary rounded bg-light">
        <ul class="list-unstyled">
          <li class="media" *ngFor="let item of tweetsdata">
            <img class="mr-3 img-thumbnail" [src]="item.user.profile_image_url" alt="Generic placeholder image">
            <div class="media-body">
              <time class="float-right">
                <a href="https://twitter.com/{{item.user.screen_name}}/status/{{item.id_str}}" target="_blanc">{{item.created_at | date:'medium'}}</a>
              </time>
              <h5 class="mt-0 mb-1">
                {{item.user.name}} -
                <em>@{{item.user.screen_name}}</em>
              </h5>
              {{item.text}}
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
