<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand">{{title}}</span>
</nav>
<div class="container mt-3">
  <div class="row">
    <div class="col-3">
      <div class="card bg-light border-secondary mb-2">
        <div class="card-header">
          Busca por Hashtag
        </div>
        <div class="card-body">
          <form (ngSubmit)="search(searchForm.value, searchForm.valid)" #searchForm="ngForm">
            <div class="form-group">
              <label class="sr-only" for="searchquery">Buscar por hashtag</label>
              <div class="input-group mb-2">
                <div class="input-group-addon">#</div>
                <input type="search" class="form-control" id="searchquery" placeholder="Hashtag" name="searchquery" ngModel required>
              </div>
              <small id="emailHelp" class="form-text text-muted" [hidden]="!(searchForm.invalid && searchForm.touched)">
                Campo obrigatório.
              </small>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
          </form>
        </div>
      </div>
      <div class="card bg-light border-secondary history-list">
        <div class="card-header">
          Histórico de busca
        </div>
        <ul class="list-unstyled">
          <li *ngFor="let history of searchQueryHistory">
            <button type="button" class="btn btn-link">#{{history.searchquery}}</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <h2 class="mt-1">Resultado de busta por
        <em>'{{searchquery}}'</em>
      </h2>
      <hr>
      <div class="border border-secondary rounded bg-light">
        <ul class="list-unstyled">
          <li class="media" *ngFor="let item of tweetsdata">
            <img class="mr-3 img-thumbnail" [src]="item.user.profile_image_url" alt="Generic placeholder image">
            <div class="media-body">
              <time class="float-right">
                <a href="https://twitter.com/{{item.user.screen_name}}/status/{{item.id_str}}" target="_blanc">{{item.created_at | date:'medium'}}</a>
              </time>
              <h5 class="mt-0 mb-1">
                {{item.user.name}} -
                <em>@{{item.user.screen_name}}</em>
              </h5>
              {{item.text}}
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
